
<h1>New Rants</h1>

  <% if @rant.errors.any? %>
    <% @rant.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <%= form_for @rant do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_field :body%>

    <%= f.submit "Save" %>
    
  <% end %>
