<!DOCTYPE html>
<html>
<head>
  <title>Rantly</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
   <div class="navbar navbar-default" role="navigation">
     <div class="container">
       <div class="navbar-header">
         <a class="navbar-brand"<%=link_to "Rantly", root_path%></a>
         <%= link_to "Rants", root_path %>
         <%= link_to "Users", users_path %>
         <% if current_user %>
            <%= current_user.first_name %>
            <%= link_to "Sign Out", signout_path, method: :delete %>
          <% else %>
            <%= link_to "Sign Up", signup_path %>
            <%= link_to "Log In", signin_path %>
         <% end %>
       </div>
     </div>
         <%= form_tag search_path, class:"search", :method => 'get' do %>
         <% if params[:search] == "" %>
         <%= text_field_tag :search, params[:search], placeholder: "This can't be blank", class: "search" %>
         <% else %>
          <%= text_field_tag :search, params[:search], placeholder: "Search", class: "search" %>
          <% end %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-warning" %>
         <% end %>

         <% if flash[:notice] %>
           <div class="notice">
           <%= flash[:notice] %>
           </div>
         <% end %>
         <%= link_to "New Rant", new_rant_path %>
   </div>
 </div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
